Repository Artiume/notepad: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(ui): styled components
  packages/ui/components/index.ts
  packages/ui/components/layouts/article.tsx
  packages/ui/components/layouts/main.tsx
  packages/ui/components/meta.js
  packages/ui/pages/_app.tsx
  packages/ui/pages/articles/[slug].tsx
  packages/ui/pages/index.tsx
  packages/ui/utils/highlight.tsx
  packages/ui/utils/theme.ts
Due: eslint --fix, prettier --write

chore(ui): webpack alias
  .eslintrc
  packages/ui/next.config.js
  packages/ui/pages/_app.tsx
  packages/ui/pages/admin/index.tsx
  packages/ui/pages/admin/login.tsx
  packages/ui/pages/articles/[slug].tsx
  packages/ui/pages/index.tsx
  packages/ui/store/auth.ts
  packages/ui/store/index.ts
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write

feat: responsive
  packages/ui/components/meta.js
  packages/ui/pages/index.tsx
Due: eslint --fix, prettier --write

feat: nicer responsive links
  packages/ui/pages/index.tsx
Due: eslint --fix, prettier --write

feat(ui): fetch initial state seperately for each store
  packages/ui/pages/_app.tsx
  packages/ui/store/auth.ts
Due: eslint --fix, prettier --write

feat(ui): store token in cookie and redirect
  packages/ui/store/auth.ts
Due: eslint --fix, prettier --write

feat(ui): logout
  packages/ui/pages/admin/index.tsx
  packages/ui/store/auth.ts
Due: eslint --fix, prettier --write

feat(editor): rename admin to editor
  packages/ui/package.json
  packages/ui/pages/_error.tsx
  packages/ui/pages/editor/index.tsx
  packages/ui/pages/editor/login.tsx
  packages/ui/store/auth.ts
  packages/ui/store/index.ts
Due: eslint --fix, prettier --write

chore(ui): cleanup imports
  packages/ui/components/logo.tsx
Due: eslint --fix, prettier --write

feat(ui): clear email and pw after login
  packages/ui/store/auth.ts
Due: eslint --fix, prettier --write

feat(api): gravatar
  packages/api/package.json
  packages/api/src/models/User.ts
  packages/api/src/routes/users.ts
  packages/api/yarn.lock
Due: eslint --fix, prettier --write

feat(ui): author information
  packages/ui/components/index.ts
  packages/ui/components/layouts/main.tsx
  packages/ui/components/meta.js
  packages/ui/components/time-ago.tsx
  packages/ui/interfaces/user.ts
  packages/ui/package.json
  packages/ui/pages/articles/[slug].tsx
  packages/ui/pages/index.tsx
  packages/ui/yarn.lock
Due: eslint --fix, prettier --write

fix(ui): date formatting glitch
  packages/ui/components/time-ago.tsx
  packages/ui/pages/articles/[slug].tsx
Due: eslint --fix, prettier --write

feat(ui): experimental dark theme
  packages/ui/components/meta.js
Due: eslint --fix, prettier --write

refactor(ui): change meta component to typescript
  packages/ui/components/index.ts
  packages/ui/components/meta.tsx
Due: eslint --fix, prettier --write

fix(ui/login): broken import
  packages/ui/pages/editor/login.tsx
Due: eslint --fix, prettier --write

docs(readme): fix grammar
  README.md
Due: prettier --write

feat(ui): dark mode stuff
  README.md
  packages/ui/pages/articles/[slug].tsx
  packages/ui/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

docs(readme): update screenshot
  README.md
Due: prettier --write

feat(ui): editor dashboard
  packages/ui/components/layouts/main.tsx
  packages/ui/components/link.tsx
  packages/ui/components/logo.tsx
  packages/ui/components/meta.tsx
  packages/ui/lib/me.ts
  packages/ui/package.json
  packages/ui/pages/articles/[slug].tsx
  packages/ui/pages/editor/index.tsx
  packages/ui/store/auth.ts
  packages/ui/store/index.ts
  packages/ui/yarn.lock
Due: eslint --fix, prettier --write

chore: lock
  yarn.lock
Due: none

feat(ui/lib): create article helper
  packages/ui/lib/articles.ts
Due: eslint --fix, prettier --write

feat(ui/editor): init new article page
  packages/ui/pages/editor/new.tsx
  packages/ui/store/auth.ts
  packages/ui/store/index.ts
Due: eslint --fix, prettier --write

feat(ui/editor): editor layout
  packages/ui/pages/editor/new.tsx
Due: eslint --fix, prettier --write

chore: lock
  packages/api/yarn.lock
  packages/ui/yarn.lock
  yarn.lock
Due: none

chore(deps): bump @yarnpkg/pnpify
  package.json
  yarn.lock
Due: prettier --write

chore(yarn): ditch yarn 2
  .gitignore
  README.md
  package.json
  packages/api/package.json
  packages/api/yarn.lock
  packages/ui/components/logo.tsx
  packages/ui/package.json
  packages/ui/yarn.lock
  yarn.lock
Due: eslint --fix, prettier --write

feat(api): rate-limiting
  packages/api/package.json
  packages/api/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove .yarnrc.yml
  .yarnrc.yml
Due: none

docs(contributing): fix typo
  CONTIRBUTING.md
Due: prettier --write

feat(api): view model
  packages/api/src/models/Article.ts
  packages/api/src/models/View.ts
Due: eslint --fix, prettier --write

feat(ui): custom markdown components
  README.md
  packages/ui/components/article/heading.tsx
  packages/ui/components/article/image.tsx
  packages/ui/components/article/index.ts
  packages/ui/components/article/paragraph.ts
  packages/ui/package.json
  packages/ui/pages/articles/[slug].tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat(ui): background behind images
  packages/ui/components/article/image.tsx
  packages/ui/components/meta.tsx
Due: eslint --fix, prettier --write

docs: update screenshots
  README.md
Due: prettier --write

feat(ui): list component
  packages/ui/components/article/index.ts
  packages/ui/components/article/list.tsx
  packages/ui/pages/articles/[slug].tsx
Due: eslint --fix, prettier --write

feat(ui): code blocks and inline code
  packages/ui/components/article/code.tsx
  packages/ui/components/article/index.ts
  packages/ui/components/article/inline-code.tsx
  packages/ui/package.json
  packages/ui/pages/articles/[slug].tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat(ui): heading anchors lowercase
  packages/ui/components/article/heading.tsx
Due: eslint --fix, prettier --write

feat(ui): spacing
  packages/ui/pages/index.tsx
Due: eslint --fix, prettier --write

chore(ts): it builds!
  packages/api/package.json
  packages/api/tsconfig.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,json,md,mdx})
